<h1>Découverte Angular</h1>

<counter [initial-value]="5" [step]="5"></counter>

<user-profile [hired]="false" first-name="Lior" last-name="Chamla" job="Professeur"></user-profile>

<a confirm confirm-message="Es-tu sur de vouloir aller sur la poubelle du web ?" href="https://twitter.com">Twitter
  !</a>
<p highlight background-color="green" base-color="purple">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  Aperiam libero enim
  natus, minus doloremque a
  aliquid
  laudantium ipsum provident autem sapiente, ut commodi consequatur magnam?</p>
<p highlight>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nobis repudiandae nemo placeat non ratione!
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium saepe laborum, a consectetur consequatur nostrum
  sint cumque dicta quos impedit aliquid dolores, at corporis itaque.</p>